.header {
    
    font-size: 50px;
    background-color: yellow;
    text-align: center;
}

.recipe {
    
    font-size: 20px;
    background-color: green;
    font-family:'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    width: 200px;
    margin: 10px auto;
    
}

.ingredients {

    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    color: green;
}

.steps {

    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    color: red;

}

#gordon {

    font-size: 18px;
    color: brown;
    font-family:'Times New Roman', Times, serif;

}

h1 {
    width: 500px;
    margin: 10px auto;
}

body {
    width: 1000px;
    margin: 50px auto;
}